<%- include('partials/head.ejs') %>
<nav id="navBar">
    <li id="createBtn"><a>Create</a></li>
    <form action="/logout" method="POST">
        <button type="submit"><li id="logOutBtn">LogOut</li></button>
    </form>
</nav>
<%- include('partials/modals.ejs')  %>
<div class="container">
    
</div>

<!--Data manimuplation scripts-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="requests.js"></script>
<script src="modal.js"></script>
<script src="generateHTML.js"></script>
<script src="taskHTMLCRUD.js"></script>
<script src="modalSetUp.js"></script>
<script src="main.js"></script>

<%- include('partials/footer.ejs')  %>