<%- include('partials/head.ejs')  %>
<div class="user-data-form">
    <form action="/login" method="POST">
        <h2>Login</h2>
        <div>
            <div>
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
</div>
<%- include('partials/footer.ejs') %>