<%- include('partials/head.ejs')  %>
<h1 id="logo">Task Manager</h1>
<div class="notLoggedInContainer">
    <div>
        <h3>You're not logged in.</h3>
        <p>Please <a href="/login">Login</a> or <a href="/register">Register</a>.</p>
    </div>
</div>
<%- include('partials/footer.ejs')  %>