<%- include('partials/head.ejs')  %>
<div class="user-data-form">
    <form action="/register" method="POST">
        <h2>Register</h2>
        <div class="input-holder">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="password" id="repeatedPassword" name="repeatedPassword" placeholder="Repeat Password">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <p>Already have an account? <a href="/login">Login</a></p>
    </form>
</div>
<%- include('partials/footer.ejs')  %>